//Variáveis//
//cores principais da página
$cor-principal: #FF5000;
$fonte: HelveticaNow Helvetica Roboto Arial, sans-serif;

//download da font 
@font-face {
    font-family: xpto;
    src: por merter;
}


//Reset do css default aplicado pelos bavegadores
* {
    margin: 0;
    padding: 0;
}


.div1 {
    background-color: $cor-principal;
    height: 20px;
    max-width: 100%;
    text-align: center;
    padding: 0.1%;

}

.div2 {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 0.7fr 4fr 0.7fr;
    height: 700px;



    //Background do Imagem do porshe e Escurecer a imagem á volta
    background-image: url(porshe_vp_100.png);
    background-size: cover;
    background-position: center;
}

///////////////////////////////////////////////////////////////////////////////
//cor do menu sixt | gerir as Reservas | PT | Iniciar sessão
.header {

    background-color: transparent;


    height: 5vh;

    grid-row: 1 / 1;
    grid-column: 2 /3;

}

.lista {
    display: flex;
}

.lista li {
    text-align: center;
    color: white;
    list-style: none;
    padding: 1%;

}

.direita {
    //podia utilizar o flex para ordenar, mas não é tao eficiente
    margin-left: auto;
}

//////////////////////////////////////////////////////////////////////////////


//menu branco de aluguer
.nav_var {
    background-color: white;
    max-width: 100%;
    height: 17vh;
    border-radius: 1vw; //Ao diminuir o viewport o arrendodamento do quantos não se mantem. Corrijo com a media query?

    grid-row: 2/2;
    grid-column: 2/3;


}

//div com A aventura começa aqui.
.texto {
    display: flex;
    justify-content: center; // horizontal, main axis
    align-items: center; // vertival, cross axis
    height: 20vh;
    max-width: 100%;
    background-color: $cor-principal;


}

///////////////////////////////////////

.primeiro_principal .principal_c1 {
    display: flex;
}


//4º andar
#quarto_andar {
    background-color: rgb(230, 230, 230);
    overflow: hidden;

    h1 {
        padding-top: 40px;
        text-align: center;
    }

    #carrossel_quarto_andar {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        width: 100%;
        transition: transform 0.4s ease;

        #sixt_empresas {
            flex: 0 0 82vw;
            cursor: pointer;
            text-align: center;
            border-radius: 15px;
            display: block;
            color: white;
            background-image: url(homem_com_mercedes.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex: 0 0 100%;

            ul {
                list-style: none;

                button {
                    align-items: center;
                    color: white;
                    border-color: white;
                    height: 30px;
                    width: 120px;
                    border-radius: 15px;
                    background-color: transparent;
                    cursor: pointer;
                }

                h3 {
                    padding-top: 60px;
                }

                li {
                    padding: 10px;
                }
            }
        }

        #subscrição_automóvel {
            flex: 0 0 480px;
            cursor: pointer;
            text-align: center;
            border-radius: 15px;
            display: block;
            color: white;
            background-image: url(bmw.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 550px;
            height: 700px;
            width: 480px;

            ul {
                list-style: none;

                button {
                    align-items: center;
                    color: white;
                    border-color: white;
                    height: 30px;
                    width: 120px;
                    border-radius: 15px;
                    background-color: transparent;
                    cursor: pointer;
                }

                h3 {
                    padding-top: 60px;
                }

                li {
                    padding: 10px;
                }
            }
        }

        #SIXT_RIDE {
            flex: 0 0 480px;
            cursor: pointer;
            text-align: center;
            border-radius: 15px;
            display: block;
            color: white;
            background-image: url(mulher.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 550px;
            height: 700px;
            width: 480px;

            ul {
                list-style: none;

                button {
                    align-items: center;
                    color: white;
                    border-color: white;
                    height: 30px;
                    width: 120px;
                    border-radius: 15px;
                    background-color: transparent;
                    cursor: pointer;
                }

                h3 {
                    padding-top: 60px;
                }

                li {
                    padding: 10px;
                }
            }

        }
    }

    .carrossel_btn {

        #anterior,
        #seguinte {
            height: 60px;
            width: 60px;
        }
    }
}

//5º andar
#quinto_andar {
    display: flex;
    height: auto;
    min-height: 700px;
    width: auto;
    min-width: 100%;
    color: white;
    background-image: url(mulher_ao_volante.png);
    background-size: cover;
    background-position: center;
    align-items: center; // Centraliza verticalmente
    justify-content: center; // Centraliza horizontalmente

    span {
        max-width: 1450px;
        display: block;
        font-size: 55px;
        text-align: center;

        #yasmin {
            padding-top: 30px;
            font-size: 27px;

        }
    }
}

//Ultimo andar

#ultimo_andar {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 40px;

    #texto_ultimo_andar {
        width: 100%;

        h2 {
            padding-bottom: 20px;
        }
    }

    #botoes {
        #lista_aeroportos {
            gap: 50px;
            list-style: none;
            padding-top: 30px;

            #btn_aeroporto,
            #btn_balcoes1,
            #btn_balcoes2,
            #btn_mundo {
                border: none;
                height: 30px;
                width: 200px;
                background-color: rgb(244, 245, 246);
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(170, 170, 170);
                }

                &:active {
                    background-color: rgb(26, 26, 26);
                    color: white;
                }
            }
        }

        #conteudo_btn {
            padding-left: 40px;
            padding-top: 60px;
            width: 100%;
            gap: 40px;
            display: flex;

            #aeroportosPT {
                grid-area: menu;
                grid-column: 1 / span 2;
                display: flex;
                gap: 20px;
                list-style: none;

                li {
                    cursor: pointer;
                    font-weight: bold; // Texto negrito 
                }
            }

            .coluna ul {
                list-style: none;
                padding: 0;

                li {
                    padding: 5px 0;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}

//Footer
footer {
    padding-top: 20px;
    background-color: #1a1a1a;
    color: white;

    .primeira_linha {
        display: flex;
        justify-content: space-between;
        height: 60px;

        .simbolo_sixt {
            cursor: pointer;
        }

        li {
            cursor: pointer;
        }

        #til {
            color: rgb(255, 80, 0);
        }

        .redes .social {
            display: flex;
            gap: 15px;
            list-style: none;
        }
    }

    .links {
        display: block;
        color: white;
        justify-content: space-between;

        .coluna3 {
            width: 550px;
            justify-content: right;
        }

        #coluna1 li {
            margin-bottom: 13px;
            list-style: none;
            color: white;
            gap: 100px;
            cursor: pointer;
            font-weight: bold; // Texto negrito

            h3 {
                cursor: auto;
                color: rgb(168, 168, 168);
                font-weight: normal; // Texto negrito 
            }
        }


        #coluna2 {
            padding-top: 30px;

            li {
                margin-bottom: 13px;
                list-style: none;
                color: white;
                gap: 100px;
                cursor: pointer;
                font-weight: bold; // Texto negrito 

                h3 {
                    cursor: auto;
                    color: rgb(168, 168, 168);
                    font-weight: normal; // Texto negrito 

                }
            }
        }
    }

    .aplicacoes {
        padding-top: 30px;
        display: flex;
        gap: 10px;

        #app_store {
            cursor: pointer;
        }

        #google_play {
            cursor: pointer;
        }
    }

    .final_footer {
        padding-top: 30px;

        #livro_reclamações {
            cursor: pointer;
        }
    }

    .apoiocliente {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; // Quebra de linha consoante o viewport


        .lista_cliente {
            display: flex;
            list-style: none;
            gap: 20px;
            flex-wrap: wrap; // Quebra de linha consoante o viewport

            li {
                cursor: pointer;
            }
        }

        #sixt {
            padding-top: 20px;
            color: rgb(168, 168, 168);
            font-weight: normal; // Texto negrito 
        }
    }
}


@media screen and (min-width: 768px) {
    #quarto_andar {

        #carrossel_quarto_andar {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            justify-items: center;
            transform: none !important;

            #sixt_empresas,
            #subscrição_automóvel,
            #SIXT_RIDE {
                width: 100%;
                max-width: 480px;
                height: 700px;
            }
        }

        .carrossel_btn {

            #anterior,
            #seguinte {
                visibility: hidden; //Oculta botões
            }
        }
    }

    #ultimo_andar {
        display: flex;

        #texto_ultimo_andar {
            width: 20%;
        }

        #botoes {
            #lista_aeroportos {
                display: flex;
                padding-top: 0;

            }
        }
    }

    footer {
        .links {
            display: flex;


            #coluna2 {
                padding-top: 0px;

            }
        }

        .apoiocliente {
            #sixt {
                padding-top: 0;
            }
        }
    }
}