@charset "UTF-8";
@font-face {
  font-family: xpto;
  src: por merter;
}
* {
  margin: 0;
  padding: 0;
}

.div1 {
  background-color: #FF5000;
  height: 20px;
  max-width: 100%;
  text-align: center;
  padding: 0.1%;
}

.div2 {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 0.7fr 4fr 0.7fr;
  height: 700px;
  background-image: url(porshe_vp_100.png);
  background-size: cover;
  background-position: center;
}

.header {
  background-color: transparent;
  height: 5vh;
  grid-row: 1/1;
  grid-column: 2/3;
}

.lista {
  display: flex;
}

.lista li {
  text-align: center;
  color: white;
  list-style: none;
  padding: 1%;
}

.direita {
  margin-left: auto;
}

.nav_var {
  background-color: white;
  max-width: 100%;
  height: 17vh;
  border-radius: 1vw;
  grid-row: 2/2;
  grid-column: 2/3;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  max-width: 100%;
  background-color: #FF5000;
}

.primeiro_principal .principal_c1 {
  display: flex;
}

#quarto_andar {
  background-color: rgb(230, 230, 230);
}
#quarto_andar h1 {
  padding-top: 50px;
  text-align: center;
}
#quarto_andar #caixas_quarto_andar {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 40px;
}
#quarto_andar #sixt_empresas {
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  display: block;
  color: white;
  background-image: url(homem_com_mercedes.png);
  background-size: cover;
  height: 700px;
  width: 480px;
}
#quarto_andar #sixt_empresas ul {
  list-style: none;
}
#quarto_andar #sixt_empresas ul button {
  align-items: center;
  color: white;
  border-color: white;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
#quarto_andar #sixt_empresas ul h3 {
  padding-top: 60px;
}
#quarto_andar #sixt_empresas ul li {
  padding: 10px;
}
#quarto_andar #subscrição_automóvel {
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  display: block;
  color: white;
  background-image: url(bmw.png);
  background-size: cover;
  height: 700px;
  width: 480px;
}
#quarto_andar #subscrição_automóvel ul {
  list-style: none;
}
#quarto_andar #subscrição_automóvel ul button {
  align-items: center;
  color: white;
  border-color: white;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
#quarto_andar #subscrição_automóvel ul h3 {
  padding-top: 60px;
}
#quarto_andar #subscrição_automóvel ul li {
  padding: 10px;
}
#quarto_andar #SIXT_RIDE {
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  display: block;
  color: white;
  background-image: url(mulher.png);
  background-size: cover;
  height: 700px;
  width: 480px;
}
#quarto_andar #SIXT_RIDE ul {
  list-style: none;
}
#quarto_andar #SIXT_RIDE ul button {
  align-items: center;
  color: white;
  border-color: white;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
#quarto_andar #SIXT_RIDE ul h3 {
  padding-top: 60px;
}
#quarto_andar #SIXT_RIDE ul li {
  padding: 10px;
}

#quinto_andar {
  display: flex;
  height: auto;
  min-height: 700px;
  width: auto;
  min-width: 100%;
  color: white;
  background-image: url(mulher_ao_volante.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
#quinto_andar span {
  max-width: 1450px;
  display: block;
  font-size: 55px;
  text-align: center;
}
#quinto_andar span #yasmin {
  padding-top: 30px;
  font-size: 27px;
}

#ultimo_andar {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 40px;
}
#ultimo_andar #texto_ultimo_andar {
  width: 26%;
}
#ultimo_andar #texto_ultimo_andar h2 {
  padding-bottom: 20px;
}
#ultimo_andar #botoes #lista_aeroportos {
  padding-left: 40px;
  display: flex;
  gap: 50px;
  list-style: none;
}
#ultimo_andar #botoes #lista_aeroportos #btn_aeroporto,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes1,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes2,
#ultimo_andar #botoes #lista_aeroportos #btn_mundo {
  border: none;
  height: 30px;
  width: 200px;
  background-color: rgb(244, 245, 246);
  border-radius: 15px;
  cursor: pointer;
}
#ultimo_andar #botoes #lista_aeroportos #btn_aeroporto:hover,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes1:hover,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes2:hover,
#ultimo_andar #botoes #lista_aeroportos #btn_mundo:hover {
  background-color: rgb(170, 170, 170);
}
#ultimo_andar #botoes #lista_aeroportos #btn_aeroporto:active,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes1:active,
#ultimo_andar #botoes #lista_aeroportos #btn_balcoes2:active,
#ultimo_andar #botoes #lista_aeroportos #btn_mundo:active {
  background-color: rgb(26, 26, 26);
  color: white;
}
#ultimo_andar #botoes #conteudo_btn {
  padding-left: 90px;
  padding-top: 50px;
  display: flex;
  gap: 45px;
}
#ultimo_andar #botoes #conteudo_btn .coluna p {
  gap: 60px;
  padding: 3px;
  font-size: 16px;
}

.lista-grid {
  display: flex;
  color: red;
}

footer {
  padding-top: 20px;
  background-color: #1a1a1a;
  color: white;
}
footer .primeira_linha {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
footer .primeira_linha .simbolo_sixt {
  cursor: pointer;
}
footer .primeira_linha li {
  cursor: pointer;
}
footer .primeira_linha #til {
  color: rgb(255, 80, 0);
}
footer .primeira_linha .redes .social {
  display: flex;
  gap: 15px;
  list-style: none;
}
footer .links {
  display: flex;
  color: white;
  justify-content: space-between;
}
footer .links .coluna3 {
  width: 550px;
  justify-content: right;
}
footer .links #coluna1 li {
  margin-bottom: 13px;
  list-style: none;
  color: white;
  gap: 100px;
  cursor: pointer;
}
footer .links #coluna1 li h3 {
  cursor: auto;
}
footer .links #coluna2 li {
  margin-bottom: 13px;
  list-style: none;
  color: white;
  gap: 100px;
  cursor: pointer;
}
footer .links #coluna2 li h3 {
  cursor: auto;
}
footer .aplicacoes {
  padding-top: 30px;
  display: flex;
  gap: 10px;
}
footer .aplicacoes #app_store {
  cursor: pointer;
}
footer .aplicacoes #google_play {
  cursor: pointer;
}
footer .final_footer {
  padding-top: 30px;
}
footer .final_footer #livro_reclamações {
  cursor: pointer;
}
footer .apoiocliente {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
footer .apoiocliente .lista_cliente {
  display: flex;
  list-style: none;
  gap: 20px;
}
footer .apoiocliente .lista_cliente li {
  cursor: pointer;
}/*# sourceMappingURL=template.css.map */